.row {
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 0;
            display: flex;
            flex-wrap: wrap;
        }

        a {
            text-decoration: none;
            font-weight: bold;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            padding: 0;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .clearenter::before,
        .clearenter::after,
        ul::before,
        ul::after,
        ol::before,
        ol::after {
            content: '';
            display: block;
            overflow: hidden;
            visibility: hidden;
            width: 0;
        }

        .clearenter::after,
        ul::after,
        ol::after {
            clear: both;
        }




        .hops-container {
            text-align: center;
            margin-bottom: 10px;
        }

        .hops-container>* {
            text-align: left;
        }

        .hops-container>span {
            display: inline-block;
            width: 100%;
            max-width: 760px;
        }

        .section-title {
            padding: 10px 10px 0;
        }

        .section-title>div {
            position: relative;
        }

        .section-title>div>span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 5px;
            background: #ff6600;
        }

        .section-title h5,
        .section-title h1 {
            padding-left: 10px;
            font-weight: 900;
            text-transform: uppercase;
            color: #212121;
            font-size: 24px;
        }


        .article-list>span>ul,
        .article-list>span>ul>li {
            margin: 5px;
        }

        .article-list>span>ul>li {
            width: calc(100% - 10px);
        }

        .article-list>span>ul>li.sponsored-list {
            margin: 0;
            margin-left: -5px;
            width: calc(100% + 10px);
        }

        .article-list>span>ul>li.sponsored-list>span>* {
            margin: 5px 0;
        }

        .al-row {
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 10px;
            /* border-bottom: 1px dashed #BDBDBD; */
        }

        .al-thumb {
            position: absolute;
            top: 0;
            padding-left: 10px;
            width: 85px;
            height: 85px;
            border-radius: 2px;
            overflow: hidden;
            box-sizing: border-box;
        }

        .al-thumb>a {
            display: block;
        }

        .al-thumb-edition {
            display: block;
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 0;
            box-sizing: border-box;
            width: 100%;
            padding: 5px;
            background-color: rgba(168, 123, 79, 0.7);
        }

        .al-thumb-edition h6 {
            font-size: 11px;
            color: #FFF;
            text-align: center;
        }

        .al-info {
            margin-left: 85px;
            min-height: 85px;
            padding-left: 10px;
        }

        .al-title,
        .source-content {
            color: #212121;
            display: block;
            margin-bottom: 2px;
        }

        .al-title h3,
        .source-content h3 {
            font-size: 14px;
            line-height: 20px;
        }

        .source-content h3 {
            font-weight: normal;
        }

        .al-misc * {
            font-size: 11px;
            color: #757575;
        }

        .al-misc>li {
            float: left;
            padding: 3px 5px 0 0;
        }

        .al-misc>li:not(:last-child)>* {
            border-right: 2px solid #E0E0E0;
            padding-right: 5px;
            display: block;
        }


        .dc-info {
            margin: 0 10px;
        }

        .dc-info>* {
            margin-bottom: 5px;
        }

        .dc-info>.source-content {
            margin-bottom: 3px;
        }

        .dc-date {
            font-size: 12px;
            color: #757575;
        }

        .dc-title {
            font-weight: 900;
            color: #212121;
            font-size: 24px;
        }

        .dc-author-list {
            padding: 0;
            min-height: inherit;
        }

        .dca-each {
            background: 0;
            border: 0;
            padding: 0;
            position: relative;
        }

        .dca-each-avatar {
            position: absolute;
            top: 0;
            left: 0;
            width: 32px;
            height: 32px;
        }

        .dca-each-name {
            margin-left: 32px;
            min-height: 32px;
        }

        .dca-each-name>b {
            margin-left: 10px;
            color: #212121;
        }

        .dca-all {
            padding-left: 15px;
        }

        .dca-all .dca-each {
            padding: 7px 0;
            border-bottom: 1px dashed #BDBDBD;
        }

        .dca-all .dca-each-avatar {
            top: 7px;
        }


        .dc-article h2,
        .dc-article h3,
        .dc-article h4 {
            font-weight: bold;
        }

        .dc-article>* {
            margin-top: 10px;
            color: #424242;
        }

        .dc-article>*:not(.dc-image):not(.dc-lihatjuga):not(.dc-infografik):not(.iklan-slot) {
            margin-left: 10px;
            margin-right: 10px;
            font-size: 16px;
            line-height: 24px;
        }

        .dc-article>.iklan-slot {
            line-height: 0;
            margin-bottom: 10px;
        }

        .dc-image-by {
            position: relative;
            font-size: 11px;
            color: #FFF;
            background: #424242;
            padding: 5px;
        }

        .dc-image-by>span {
            position: absolute;
            top: 8px;
            left: 8px;
        }

        .dc-image-by>ul {
            margin-left: 36px;
        }

        .dc-image-by>ul>li {
            margin: 3px;
            float: left;
        }

        .dc-image-caption {
            font-size: 11px;
            padding: 5px 10px;
            border-bottom: 1px dashed #BDBDBD;
            line-height: 16px;
        }

        @media screen and (min-width:761px) {
            .dc-image {
                margin-left: 10px;
                margin-right: 10px;
            }

            .dc-image-caption {
                padding: 5px 0;
            }
        }

        .col-lg-3 {
            flex: 0 0 auto;
            width: 50%;
        }

        @media (min-width:360px) and (max-width: 768px){
            .col-lg-3 {
                flex: 0 0 auto;
                width: 100%;
            }
        }

        .dc-article>ul,
        .dc-article>ol {
            padding-left: 20px;
        }

        .dc-article>ul {
            list-style: square;
        }

        .dc-article>ol {
            list-style: decimal;
        }

        .dc-article>ul>li,
        .dc-article>ol>li {
            padding: 2px 0;
        }

        .dc-article amp-img img {
            width: 100%;
        }

        .dc-lihatjuga {
            box-shadow: inset 0 0 5px #BDBDBD;
            padding: 5px 5px 0;
        }

        .dc-lihatjuga .al-row {
            margin-bottom: 0;
            border-bottom: 0;
            padding-bottom: 5px;
        }

        .dc-lihatjuga .al-thumb {
            width: 64px;
            height: 64px;
        }

        .dc-lihatjuga .al-info {
            margin-left: 75px;
            min-height: 64px;
        }

        .dc-lihatjuga .topic-link {
            background-color: #FFF;
        }

        @media screen and (min-width:761px) {
            .dc-lihatjuga {
                margin: 0 10px;
            }
        }
